@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BluuNext";
  src: url(../../../fonts/BluuNext.otf);
}

@font-face {
  font-family: "HarryPotter";
  src: url(../../../fonts/HarryPotter.TTF);
}

body {
  background-color: black;
}